services:
  database-postgresql:
    image: postgres:17.7
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '5432:5432'
    volumes:
      - postgres:/var/lib/postgresql/data
      - ./PostgreSQL/Init.Development.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - services
    
networks:
  services:

volumes:
  postgres: